{% extends "core/base.html" %}
{% load static %}

{%block content %}
<div class="container text-center">
    <br>
    <div class="row justify-content-md-center">
      <div class="col-2"></div>
      <div class="col-5">
        <input class="form-control me-2" type="search" placeholder="search for recipe" aria-label="Search">
      </div>
      <div class="col-2">
        <span class="dropdown">
            <button class="btn btn-light dropdown-toggle border border-secondary recipe_filter_bot" type="button" data-toggle='dropdown' data-bs-toggle="dropdown" aria-expanded="false">
              Sort by: Alphabetical
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Alphabetical</a></li>
              <li><a class="dropdown-item" href="#">Time to Cook</a></li>
              <li><a class="dropdown-item" href="#">Health Score</a></li>
            </ul>
        </span>
    </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <span class="dropdown">
                <button class="btn btn-light dropdown-toggle border border-secondary" type="button" data-toggle='dropdown' data-bs-toggle="dropdown" aria-expanded="false">
                  Time to Cook: Any
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Any</a></li>
                  <li><a class="dropdown-item" href="#"> <15 min </a></li>
                  <li><a class="dropdown-item" href="#"> <30 min </a></li>
                  <li><a class="dropdown-item" href="#"> <1 hr </a></li>
                  <li><a class="dropdown-item" href="#"> <2 hr </a></li>
                </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-light dropdown-toggle border border-secondary recipe_filter" type="button" data-toggle='dropdown' data-bs-toggle="dropdown" aria-expanded="false">
                  Health Score: Any
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Any</a></li>
                  <li><a class="dropdown-item" href="#">Excellent</a></li>
                  <li><a class="dropdown-item" href="#">Medium</a></li>
                  <li><a class="dropdown-item" href="#">Low</a></li>
                </ul>
            </span>
            <span class="dropdown">
                <button class="btn btn-light dropdown-toggle border border-secondary recipe_filter" type="button" data-toggle='dropdown' data-bs-toggle="dropdown" aria-expanded="false">
                  Difficulty: Any
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Any</a></li>
                  <li><a class="dropdown-item" href="#">Easy</a></li>
                  <li><a class="dropdown-item" href="#">Medium</a></li>
                  <li><a class="dropdown-item" href="#">Hard</a></li>
                </ul>
            </span>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <span class="dropdown">
                <button class="btn btn-light dropdown-toggle border border-secondary recipe_filter_bot" type="button" data-toggle='dropdown' data-bs-toggle="dropdown" aria-expanded="false">
                  Show Recipes: show all avaliable recipes
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">show all avaliable recipes</a></li>
                  <li><a class="dropdown-item" href="#">with only ingredients in my Pantry</a></li>
                </ul>
            </span>
        </div>
      </div>
    </div>
</div>

{% for recipe in recipes %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src={% static 'core/img_placeholder.jpg' %} onclick=""/>
        </div>
        <div class="col-6 recipe_card" data-bs-toggle="modal" data-bs-target="#{{recipe.uuid}}">
            <h2>{{recipe.name}}</h2>
            <p>Uploaded by: {{recipe.author}} </p>
            <p>Total Time: {{recipe.total_time}} mins </p>
            <p>Genres: {% for genre in recipe.genres.all %} <span class="badge text-decoration-none bg-secondary"> {{genre}} </span> {% endfor %} </p>
            <p>Difficulty: {{recipe.difficulty}} </p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary btn-light border border-secondary mb-3" onclick="addGrocList(this)">Add Recipe Ingredients to Grocery List</span>
            <button type="button" class="btn btn-secondary btn-light border border-secondary" onclick="importRepFoodDiary(this)">Import Recipe to Food Diary</button>
        </div>
        <div class="col-1">
            <img src={% static 'core/icons/heart.svg' %} onclick="saveRecipe(this)"/>
        </div>
    </div>
</div>

{% include 'core/recipe_modal.html' %}

{% endfor %}

{% endblock content %}