{% extends "core/base.html" %}
{% load static %}

{%block content %}
<div class="container text-center">
  <br>
  <div class="row justify-content-md-center">
    <div class="col-5">
      <input class="form-control me-2" type="search" placeholder="search for ingredient" aria-label="Search">
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-7 selected_ingredients">
      {% include 'core/selected_ingredients.html' %}
    </div>
  </div>
</div>

<div class="container text-left">
  {% for category in categories %}
  <div class="row">
    <div class="col-12"><h2>{{category.name}}</h2></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      {% for ingredient in category.ingredient_set.all %}
      <span class="ingredient_pill badge rounded-pill text-bg-light">
        <img class="ingredient_select" data-pk = "{{ingredient.id}}" 
            src={% if ingredient.selected %} {% static 'core/icons/check-square.svg' %} 
                {% else %} {% static 'core/icons/square.svg' %} {% endif %} 
            onclick="checkboxClicked(this)"/>
        &nbsp&nbsp{{ingredient.name}}
      </span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<script>
  $('.ingredient_select').click(function(){
    var pk = $(this).attr("data-pk");
    $.get("/update_ingredient/" + pk, function(r){
      console.log(r);
      $('.selected_ingredients').html('').load("{% url 'update_selected' %}");
    })
  });
</script>

{% endblock content %}
