{% extends "core/base.html" %}
{% load static %}

{%block content %}
<div class="container text-center">
  <br>
  <div class="row justify-content-md-center">
    <div class="col-5">
      <input class="form-control me-2" type="search" placeholder="search for ingredient" aria-label="Search">
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-7">
      <span>current ingredients in your pantry: </span>
      {% for ing in selected %}
        <span class="badge rounded-pill text-bg-secondary">{{ing.name}}</span>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container text-left">
  {% for cat in categories %}
  <div class="row">
    <div class="col-12"><h2>{{cat.name}}</h2></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      {% for ing in cat.ingredient_set.all %}
      <span class="ingredient_pill badge rounded-pill text-bg-light">
        <!-- Update script to include argument for Ingredient (probably primary key?) -->
        <!-- XOR ingredient.selected with True then update box accordingly -->
        <img src={% static 'core/icons/square.svg' %} onclick="checkboxClicked(this)"/>
        &nbsp&nbsp{{ing.name}}
      </span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
