{% extends "core/base.html" %}
{%block content %}
<h1>My Food Diary: Reaction Reporter</h1>
<br>
<div class="row">
    <div class="col-3">
        <h2>Reported Reactions</h2>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-light btn-lg border border-secondary mb-4" data-bs-toggle="modal" data-bs-target="#addNewReactionReport">Add New Report</button>
    </div>
</div>

<div class="container">
    
    <div class="row text-start text-bg-light border border-secondary fs-5 rounded-pill mt-2">
        <div class="row">
            <div class="col-6 mt-2 mb-2">
                Heartburn
            </div>
            <div class="col-3 mt-2 mb-2">
                10/22/2022
            </div>
            <div class="col-3 text-end">
                <button type="button" class="btn btn-light btn-lg border border-secondary mt-1 mb-1">View Report</button>
            </div>
        </div>
    </div>

    <div class="row text-start text-bg-light border border-secondary fs-5 rounded-pill mt-2">
        <div class="row">
            <div class="col-6 mt-2 mb-2">
                Reaction 2
            </div>
            <div class="col-3 mt-2 mb-2">
                MM/DD/YYYY
            </div>
            <div class="col-3 text-end">
                <button type="button" class="btn btn-light btn-lg border border-secondary mt-1 mb-1">View Report</button>
            </div>
        </div>
    </div>

</div>


<!-- add new report pop up form -->
<div class="modal fade" id="addNewReactionReport" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Report a new reaction</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</div>

{% endblock content %}