{% extends "core/base.html" %}
{%block content %}
{% load static %}
<h2>Custom Recipes</h2>
<div class="container">
    <div class="row">
        <div class="col-3 d-grid">
            <button type="button" class="btn btn-light btn-lg border border-secondary" data-bs-toggle="modal" data-bs-target="#addCustomRecipe">Add a new custom recipe</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <img src={% static 'core/img_placeholder.jpg' %} onclick=""/>
        </div>

        <div class="col-6 recipe_card" data-bs-toggle="modal" data-bs-target="#wellington_card")">
            <h2>Homemade Pizza</h2>
            <p>Main Ingredients: bread flour, tomato, mozzarella cheese</p>
            <p>Time to cook: 2 hours</p>
            <p>Difficulty: Medium</p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary btn-light border border-secondary mb-3" onclick="addGrocList(this)">Add Recipe Ingredients to Grocery List</span>
            <button type="button" class="btn btn-secondary btn-light border border-secondary" onclick="importRepFoodDiary(this)">Import Recipe to Food Diary</button>
        </div>
        <div class="col-1">
            <!-- <img src={% static 'core/icons/heart.svg' %} onclick="saveRecipe(this)"/> -->
        </div>
    </div>
</div>


<h2>Saved Recipes</h2>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src={% static 'core/img_placeholder.jpg' %} onclick=""/>
        </div>

        <div class="col-6 recipe_card" data-bs-toggle="modal" data-bs-target="#wellington_card")">
            <h2>Chicken Alfredo</h2>
            <p>Main Ingredients: chicken breast, fettuccini</p>
            <p>Time to cook: 30 minutes</p>
            <p>Difficulty: Medium</p>
        </div>
        <div class="col-2">
            <!-- <button type="button" class="btn btn-secondary btn-light border border-secondary mb-3" onclick="addGrocList(this)">Add Recipe Ingredients to Grocery List</span> -->
            <!-- <button type="button" class="btn btn-secondary btn-light border border-secondary" onclick="importRepFoodDiary(this)">Import Recipe to Food Diary</button> -->
        </div>
        <div class="col-1">
            <img src={% static 'core/icons/heart-fill.svg' %} onclick="saveRecipe(this)"/>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <img src={% static 'core/img_placeholder.jpg' %} onclick=""/>
        </div>

        <div class="col-6 recipe_card" data-bs-toggle="modal" data-bs-target="#wellington_card")">
            <h2>Mushroom Risotto</h2>
            <p>Main Ingredients: chicken broth, rice, mushrooms</p>
            <p>Time to cook: 45 minutes</p>
            <p>Difficulty: Medium</p>
        </div>
        <div class="col-2">
            <!-- <button type="button" class="btn btn-secondary btn-light border border-secondary mb-3" onclick="addGrocList(this)">Add Recipe Ingredients to Grocery List</span> -->
            <!-- <button type="button" class="btn btn-secondary btn-light border border-secondary" onclick="importRepFoodDiary(this)">Import Recipe to Food Diary</button> -->
        </div>
        <div class="col-1">
            <img src={% static 'core/icons/heart-fill.svg' %} onclick="saveRecipe(this)"/>
        </div>
    </div>
</div>


<!-- Add Custom Recipe pop up form -->
<div class="modal fade" id="addCustomRecipe" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Add a Custom Recipe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}